body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden; /* 스크롤 제거 */
}

#data-table {
    margin: 0 auto;
    width: auto;
    display: table;
    border-collapse: collapse;
    background-color: white;
    max-width: 100%; /* 테이블이 화면을 넘지 않도록 설정 */
    table-layout: fixed; /* 테이블 셀 크기를 고정 */
}

#data-table td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden; /* 텍스트가 넘치지 않도록 */
    text-overflow: ellipsis;
}
